.mt15 {
    margin-top: 15px;
}

/* header */
#header {
    padding: 20px 20px;
    position: relative;
    background-color: var(--white);
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    width: 150px;
    height: 50px;
}

.header__logo img {
    width: 100%;
    height: 100%;
}

.header__nav-item {
    display: inline-block;
}

.header__nav-1 {
    position: relative;
}

.header__nav-1::after {
    content: "";
    display: block;
    position: absolute;
    height: 40px;
    width: 100%;
    top: 100%;
}

.header__nav-2::after {
    content: "";
    display: block;
    position: absolute;
    height: 50px;
    width: 10%;
    top: 60%;
}

.header__nav-link {
    font-size: 1.5rem;
    color: var(--header);
    font-weight: 600;
    padding: 0 37px;
}

.header__control-item {
    display: inline-block;
}

.header__control-item:nth-child(2) {
    margin: 0 15px;
}

.header__control-item i {
    transition: 0.2s;
    font-size: 2rem;
    color: var(--header);
}

.header__nav-sublist {
    position: absolute;
    top: 300%;
    width: 170%;
    background-color: #ccc;
    display: none;
    z-index: 2;
}

.header__nav-1:hover .header__nav-sublist,
.header__nav-subitem:hover .header__nav-rightlist {
    display: block;
}

.header__nav-sublink,
.header__nav-rightlink {
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4rem;
    color: var(--header);
    padding: 10px 20px;
    transition: 0.2s;
}

.header__nav-subitem {
    position: relative;
}

.header__nav-subitem:first-child,
.header__nav-rightitem:first-child {
    margin-top: 10px;
}

.header__nav-subitem:last-child,
.header__nav-rightitem:last-child {
    margin-bottom: 10px;
}

.header__nav-sublink i {
    float: right;
}

.header__nav-link span,
.header__nav-sublink span,
.header__nav-rightlink span,
.mega__menu-link span {
    position: relative;
}

.header__nav-link span::after,
.header__nav-sublink span::after,
.header__nav-rightlink span::after,
.mega__menu-link span::after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 0;
    top: 100%;
    left: 0;
    background-color: var(--main);
    transition: 1s;
}

.header__nav-link:hover span::after,
.header__nav-sublink:hover span::after,
.header__nav-rightlink:hover span::after,
.mega__menu-link:hover span::after {
    width: 100%;
}

.header__nav-link:hover,
.header__nav-sublink:hover,
.header__nav-rightlink:hover,
.mega__menu-link:hover {
    color: var(--main);
}

.header__nav-rightlist {
    position: absolute;
    top: -9px;
    left: 100%;
    width: 100%;
    background-color: #ccc;
    display: none;
}

.header__nav-megamenu {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    padding: 20px 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.header__nav-2:hover>.header__nav-megamenu {
    display: block;
}

.mega__menu-column h2 {
    font-size: 1.7rem;
    line-height: 1.7rem;
    color: var(--main);
    text-transform: uppercase;
    margin: 30px 0;
}

.mega__menu-link {
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4rem;
    color: var(--header);
    padding: 10px 0;
    transition: 0.2s;
}

/* Control */
.header__control-item {
    position: relative;
}

.header__control-product-list {
    display: none;
    position: absolute;
    top: 222%;
    right: 0;
    width: 300px;
    padding: 20px;
}

.header__control-product-list p {
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.header__control-item:hover .header__control-product-list {
    display: block;
}

.header__control-item:hover i {
    color: var(--main);
    cursor: pointer;
}

/* Slide */
.slide__main {
    color: var(--white);
    position: relative;
}

/* main slide */
#owl-1 .slide__img {
    overflow: hidden;
    position: relative;
}

#owl-1 .slide__img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

#owl-1 .slide__img img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    display: block;
}

#owl-1 .slide__content {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: default;
    user-select: none;
    width: 100%;
}

#owl-1 .slide__heading {
    font-size: 4.8rem;
    line-height: 4.8rem;
    font-family: 'Satisfy', cursive;
}

#owl-1 .slide__sub-heading {
    font-size: 11rem;
    font-weight: 600;
    line-height: 11rem;
    margin: 10px 0;
}

#owl-1 .slide__text {
    font-size: 1.8rem;
    line-height: 1.6;
}

#owl-1 .slide__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--main);
}

#owl-1 .owl-item.active img {
    animation: scale 20s ease-in-out both;
}

#owl-1 .owl-item.active .slide__heading,
#owl-1 .owl-item.active .slide__sub-heading,
#owl-1 .owl-item.active .slide__text {
    animation: floatIn 0.5s ease-in both;
}

#owl-1 .owl-nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
}

#owl-1 .owl-nav [class*=owl-] {
    border-radius: 50%;
}

#owl-1 .owl-nav span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--white);
    color: var(--main);
    font-size: 4rem;
    font-weight: 200;
    transition: 0.5s;
}

#owl-1 .owl-nav span:hover {
    background-color: var(--main);
    color: var(--white);
}

/* sub slide */
.slide__sub {
    margin-top: 20px;
}

.slide__sub-img {
    width: 100%;
}

.slide__sub-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    transition: 1s;
}

.slide__sub-img-link {
    display: block;
    overflow: hidden;
}

.slide__sub-img img:hover {
    transform: scale(1.05);
}

.slide__sub-date {
    padding: 15px 20px;
    background-color: var(--main);
    color: var(--white);
    display: flex;
    align-items: center;
}

.slide__sub-date span {
    font-size: 1.4rem;
    margin-right: 10px;
}

.slide__sub-date span span {
    margin-left: 10px;
}

.slide__sub-date span span a {
    color: var(--white);
    position: relative;
    display: inline-block;
}

.slide__sub-body {
    padding: 20px;
}

.slide__sub-body a {
    font-size: 2.2rem;
    line-height: 2.2rem;
    font-weight: 600;
    color: var(--header);
    transition: 0.3s;
}

.slide__sub-body a:hover {
    color: var(--main);
}

.slide__sub-body p {
    font-size: 1.4rem;
    line-height: 1.6;
    margin: 10px 0;
}

.slide__sub-rate>span {
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 600;
    margin-right: 20px;
}

.slide__sub-rate>span>span {
    margin-right: 10px;
}

#owl-2 .owl-dots .owl-dot span,
#owl-3 .owl-dots .owl-dot span {
    background: var(--main);
    opacity: 0.5;
}

#owl-2.owl-theme .owl-dots .owl-dot.active span,
#owl-2.owl-theme .owl-dots .owl-dot:hover span,
#owl-3.owl-theme .owl-dots .owl-dot.active span,
#owl-3.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--main);
    opacity: 1;
}

.slide__sub-container {
    margin-bottom: 15px;
}

.slide__sub-container {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Content */
.content__section {
    padding-bottom: 90px;
}

.content__common {
    text-align: center;
    padding: 90px 0 40px;
}

.content__section-heading {
    font-size: 3.3rem;
    line-height: 3.3rem;
    font-family: 'Satisfy', cursive;
    color: var(--main);
}

.content__reivew-sub-heading,
.content__section-sub-heading {
    font-size: 6.5rem;
    line-height: 6.5rem;
    color: var(--header);
    font-weight: 600;
    margin-top: 10px;
}

.content__reivew-text,
.content__section-text {
    font-size: 1.7rem;
    line-height: 1.6;
    text-align: center;
    color: var(--header);
    margin-bottom: 40px;
}

.content__section-text {
    margin-left: auto;
    margin-right: auto;
}

.content__video {
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
}

.content__video img {
    width: 100%;
    display: block;
}

.content__video-modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__content {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main);
    border-radius: 50%;
    transition: 0.3s;
}

.content__video:hover .modal__content {
    transform: scale(1.05);
}

.modal__content i {
    font-size: 1.5rem;
    color: var(--white);
}

.content__wrap {
    text-align: center;
}

.content__section-btn {
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: var(--main);
    color: var(--white);
    text-transform: uppercase;
    padding: 15px 30px;
    transition: 0.5s;
}

.content__section-btn:hover {
    background-color: #1cb6ba;
}

.content__parallax {
    /* The image used */
    background-image: url(../img/skiing-parallax-1.jpg);

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 60px;
}

/* .content__review {
    padding-bottom: 60px;
} */

.content__review-heading {
    text-align: center;
    padding: 90px 0 40px;
}

.content__reivew-sub-heading {
    color: var(--white);
}

.content__reivew-text {
    width: 50%;
    margin: 20px auto 0 auto;
    color: var(--white);
}

.review__slide-wrap {
    background-color: var(--white);
    display: flex;
    border-radius: 10px;
    padding: 40px;
}

.review__slide-avatar {
    width: 100px;
    height: 100px;
}

.review__slide-desc {
    margin-left: 20px;
}

.reivew__slide-link {
    display: block;
    font-size: 2.2rem;
    line-height: 2.2rem;
    color: var(--header);
    transition: 0.4s;
    font-weight: 600;
    margin-bottom: 15px;
}

.reivew__slide-link:hover {
    color: var(--main);
}

.review__slide-rate {
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: var(--main);
    margin-bottom: 15px;
}

.review__slide-text {
    font-size: 1.4rem;
    line-height: 1.6;
    color: var(--header);
    margin-bottom: 15px;
}

.review__slide-name {
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--header);
}

#owl-3.owl-theme .owl-nav.disabled+.owl-dots {
    padding: 30px 0 10px;
}

.content__enjoy-column {
    text-align: center;
    padding: 0 45px;
}

.content__enjoy-column img {
    transition: 0.3s;
}

.content__enjoy-column img:hover {
    transform: translateY(-5px);
}

.content__enjoy-heading {
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: var(--header);
}

.content__enjoy-text {
    font-size: 1.4rem;
    line-height: 1.6;
}

.content-4__container {
    position: relative;
}

.content-4__container img {
    display: block;
    width: 100%;
    height: auto;
}

.content-4__overley {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--main);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.content-4__container:hover .content-4__overley {
    height: 30%;
}

.content-4__text {
    padding: 20px;
    text-align: center;
    color: var(--white);
}

.content-4__text-name {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;
}

.content-4__text-desc {
    font-size: 1.4rem;
    line-height: 1.6;
}

.content-4__text-icon a {
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--white);
    margin: 0 15px;
    transition: 0.3s;
}

.content-4__text-icon a:hover {
    color: #1cb6ba;
}

.content-4__sta {
    background-color: var(--main);
    padding: 40px 0;
}

.content-4__col {
    text-align: center;
    color: var(--white);
    font-weight: 1000;
}

.content-4__col h2 {
    font-size: 6.5rem;
    line-height: 6.5rem;
}

.content-4__col p {
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin-top: 15px;
}

.content-5__link {
    position: relative;
    display: block;
    border-radius: 50%;
    overflow: hidden;
}

.content-5__link:hover img {
    transform: scale(1.03);
}

.content-5__link img {
    width: 100%;
    border-radius: 50%;
    display: block;
    transition: 0.7s;
}

.content-5__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-5__overlay p {
    font-size: 5rem;
    line-height: 5rem;
    font-family: 'Satisfy', cursive;
    color: var(--white);
}

/* footer */
#footer {
    background-color: #212121;
    padding: 100px 0;
}

.footer__wrap-logo {
    display: block;
}

.footer__wrap-logo img {
    width: 100%;
}

.footer__wrap-text {
    font-size: 1.7rem;
    line-height: 1.6;
    color: #a9a9a9;
    margin: 15px 0;
}

.footer__wrap-contact {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--white);
    transition: 0.5s;
}

.footer__wrap-contact:hover {
    color: var(--main);
}

.footer__wrap-contact p {
    margin-left: 10px;
}

.footer__wrap-heading {
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin-bottom: 30px;
    color: var(--white);
}

.footer__wrap-link {
    margin-bottom: 30px;
}

.footer__wrap-place {
    display: block;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #A9A9A9;
    margin-bottom: 10px;
    transition: 0.3s;
}

.footer__wrap-time {
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--white);
    transition: 0.3s;
}

.footer__wrap-place:hover,
.footer__wrap-time:hover {
    color: var(--main);
}

.footer__wrap-input {
    background: #848484;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: var(--white);
}

.footer__wrap-input i {
    font-size: 2rem;
    line-height: 2rem;
    padding: 20px;
}

.footer__wrap-input input {
    flex: 1;
    border: none;
    outline: none;
    padding: 20px 0;
    font-size: 1.4rem;
    line-height: 1.4rem;
    background-color: #848484;
    color: var(--white);
}

.footer__wrap-input input::placeholder {
    font-size: 1.4rem;
    color: var(--white);
}

.footer__wrap-input button {
    font-size: 1.4rem;
    line-height: 1.4rem;
    flex: 1;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: none;
    border: none;
    background-color: var(--main);
    color: var(--white);
    transition: 0.5s;
    font-weight: 500;
}

.footer__wrap-input button:hover {
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
}